<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>RedisStudent</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>com.web.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/addStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowStudentList</display-name>
    <servlet-name>ShowStudentList</servlet-name>
    <servlet-class>com.web.ShowStudentList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStudentList</servlet-name>
    <url-pattern>/showStudentList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoStudent</display-name>
    <servlet-name>InfoStudent</servlet-name>
    <servlet-class>com.web.InfoStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoStudent</servlet-name>
    <url-pattern>/infoStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdataStudent</display-name>
    <servlet-name>UpdataStudent</servlet-name>
    <servlet-class>com.web.UpdataStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdataStudent</servlet-name>
    <url-pattern>/updataStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudent</display-name>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>com.web.DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/deleteStudent</url-pattern>
  </servlet-mapping>
</web-app>